.btn_primary{
    display: inline-block;
    background-color: $color-primary;
    border-radius: 4px;
    padding: 0.6rem 1rem;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: .1s;
}

/* primary button on hover */
.btn_primary:hover{
    opacity: 0.9;
}

/* secondary button.(clickable text) */
.btn_secondary{
    color: $color-primary;
    padding: 0.6rem 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-decoration: none;
    border-radius: .2rem;
    cursor: pointer;
    transition-property: border-bottom;
    transition-duration: .1s;
}

/* secondary button hover */
.btn_secondary:hover{
    border-bottom: .2rem solid $color-primary;
}