$carousel__hight: 80vh;

.carousel {
    height: $carousel__hight;
    position: relative;

    &__item {
        display: none;
    }

    &__item--visible {
        display: block;
        animation: fadeVisibility .5s;
    }

    &__item > img{
        width: 100%;
        height: $carousel__hight;
        object-fit: cover;
    }

    &__navigation {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        width: 100%;
        justify-content: space-between;

        &--left, &--right {
            background-color: $color-primary;
            margin: 1rem;
            border-radius: 2rem;
            width: 1rem;
            height: 1rem;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor: pointer;
            
            transition-property: box-shadow, transform;
            transition-duration: .2s;
            transition-timing-function: ease-in-out;

            user-select: none;
        }

        &--left:hover, &--right:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            transform: scale(0.95);
        }

        &--left {
            padding: 1rem 1rem 1rem .8rem;
        }

        &--right {
            padding: 1rem .8rem 1rem 1rem;
        }
    }
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: opacity linear;
    }
}