// Auth Page Nav Styles
.navbar {
    padding: 1rem;
    background-color: $color-input-background;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

li {
    padding: 1rem;
    list-style: none;
    float: right;
}

a {
    text-decoration: none;
}

// Rest Pages Navigation

.navigation {
    display: flex;
    padding: .5rem;
    align-items: center;
    justify-content: space-between;

    &__logo > img{
        width: 6rem; // logo width
    }

    &__links > li {
        padding: 0rem .5rem;
    }
}