.heading1 {
    font-size: 6.3rem;
    font-weight: bold;
    color: $color-text-dark;
}

.heading2 {
    font-size: 4.15rem;
    font-weight: bold;
    color: $color-text-dark;
}
.title {
    font-size: 1rem;
    font-weight: bold;
    margin: 1.2rem 0 .6rem 0;
}