$color-primary: #9E00FF;
$color-secondary: #FF00E5;


$color-background-dark: #E5E5E5;
$color-background-light: #fff;

$color-input-background: #DFDFDF;

$color-text-light: #8A8484;
$color-text-dark: #3E4350;
$color-text-white: #FFFBFB;

$container-border-radius: .4rem;